.projects {  //rassembler en screen
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding: 100px 0px;

    row-gap: 50px;
}

.projects__container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    width: 100%;
    max-width: 1440px;

    padding: 0px 80px;

    box-sizing: border-box; 

    column-gap: 50px;
}